<a href="https://colab.research.google.com/github/Monisha200222/monisha-portfolio/blob/main/Jar_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA
import warnings
warnings.filterwarnings('ignore')

In [8]:
sales_df = pd.read_csv("/Walmart Sales.csv")

In [15]:
print(sales_df.columns)

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating'],
      dtype='object')

In [36]:
import pandas as pd

try:
    city_branch_performance = sales_df.groupby(['City', 'Branch']).agg({'Quantity': 'sum', 'Unit price': 'sum'})
    print("\nPerformance of sales and revenue at the city and branch level:")
    print(city_branch_performance)
except KeyError as e:
    print("KeyError occurred. Column names in the DataFrame:")
    print([col for col in sales_df.columns])
    print("Error message:", e)

Performance of sales and revenue at the city and branch level:
                  Quantity  Unit price
City      Branch
Mandalay  A            637     6349.11
          B            664     6623.73
          C            519     5506.04
Naypyitaw A            648     5953.55
          B            604     6298.64
          C            579     6315.57
Yangon    A            598     6342.88
          B            631     6329.25
          C            630     5953.36

In [24]:
average_price_per_branch = sales_df.groupby(['City', 'Branch'])['Unit price'].mean()
print(average_price_per_branch)

City       Branch
Mandalay   A         53.353866
           B         56.133305
           C         57.958316
Naypyitaw  A         54.123182
           B         57.785688
           C         57.941009
Yangon     A         55.639298
           B         56.011062
           C         52.684602
Name: Unit price, dtype: float64

In [32]:
sales_df['Date'] = pd.to_datetime(sales_df['Date'])
april_2019_data = sales_df[sales_df['Date'].dt.month == 4]
performance_by_criteria = april_2019_data.groupby(['Product line', 'Gender', 'Payment']).agg({'Quantity': 'sum', 'Unit price': 'mean'})
total_sales_april_2019 = april_2019_data['Quantity'].sum()
total_revenue_april_2019 = april_2019_data['Unit price'].sum()
focus_areas = performance_by_criteria[performance_by_criteria['Quantity'] > (total_sales_april_2019 / len(performance_by_criteria))]
print("Performance of sales and revenue in April 2019 across Product line, Gender, and Payment Method:")
print(performance_by_criteria)
print("\nFocus areas to improve sales in April 2019:")
print(focus_areas)

Performance of sales and revenue in April 2019 across Product line, Gender, and Payment Method:
Empty DataFrame
Columns: [Quantity, Unit price]
Index: []

Focus areas to improve sales in April 2019:
Empty DataFrame
Columns: [Quantity, Unit price]
Index: []

<ipython-input-32-7669e7c812c3>:15: RuntimeWarning: invalid value encountered in scalar divide
  focus_areas = performance_by_criteria[performance_by_criteria['Quantity'] > (total_sales_april_2019 / len(performance_by_criteria))]

In [34]:
# Group by Product line, Gender, and Payment Method
performance_by_criteria = april_2019_data.groupby(['Product line', 'Gender', 'Payment']).agg({'Quantity': 'sum', 'Unit price': 'sum'})
print(performance_by_criteria)

Empty DataFrame
Columns: [Quantity, Unit price]
Index: []